
{% extends "base.html.twig" %}
{% block body %}

<div class="container">
                    <h1>LISTADO DE NOTICIAS</h1>

                    <br>

                    <a href='{{ path('app_insert')}}'><img src="https://cdn-icons-png.flaticon.com/512/72/72145.png" alt='insertar' width="20" height="20"/></a>

                    <br>

                    <div class="row justify-content-center" >
                        <table>
                        {# Cálculo de valores para la paginación #}
                        {% set elementsPerPage = 10 %}
                        {# Si la variable 'page' no está definida o es nula, establecerla en 1 #}
                        {% set page = page ?? 1 %}
                        {% set lowerLimit = (page - 1) * elementsPerPage + 1 %}
                        {% set upperLimit = page * elementsPerPage %}
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Fecha</th>
                                <th>Fuente</th>
                                <th>Acciones</th>
                                <th>Saber Más</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for new in news %}
                            {% if loop.index >= lowerLimit and loop.index <= upperLimit %} <tr>
                                <td>{{ new.getTitle()
                                        }}</td>
                                <td>{{ new.getStartDate() | date('d/m/Y')   }}</td>
                                <td>{{ new.getSource()   }}</td>
                                <td>
                                    <a href="{{path('update_new',{'id':new.getId()}) }}"><img src="https://cdn-icons-png.flaticon.com/512/104/104668.png" alt="Editar" width="20" height="20"></a>
                                    <a href="{{path('delete_news',{'id':new.getId()}) }}"><img src="https://cdn-icons-png.flaticon.com/512/1214/1214594.png" alt="Eliminar" width="20" height="20"></a>
                                </td>
                                <td>
                                    <a href="{{ path('detail_new', {'id': new.getId()}) }}"><img src="https://cdn-icons-png.flaticon.com/512/14/14777.png" alt="ver más" width="20" height="20"></a>
                                </td>
                                </tr>
                                {% endif %}
                            {% endfor %}


                        </tbody>
                    </table>

                    </div>

                    <div class="row justify-content-center mt-3">
                    {# Navegador #}
                    {% set totalPages = (((news|length)/elementsPerPage)|round(0, 'ceil')) %}
                        <div class="pagination">
                            {% if page > 1 %}
                            <a href="{{ path('app_news', {'page': 1}) }}">&lt;&lt;</a>
                            <a href="{{ path('app_news', {'page': page - 1}) }}">&lt;</a>
                            {% else %}
                            <span>&lt;&lt;</span>
                            <span>&lt;</span>
                            {% endif %}
                            {% for pageButton in 1..totalPages %}
                            {% if pageButton == page %}
                            <span>{{ pageButton }}</span>
                            {% else %}
                            <a href="{{ path('app_news', {'page': pageButton}) }}">{{ pageButton }}</a>
                            {% endif %}
                            {% endfor %}
                            {% if page < totalPages %}
                            <a href="{{ path('app_news', {'page': page + 1}) }}">&gt;</a>
                            <a href="{{ path('app_news', {'page': totalPages}) }}">&gt;&gt;</a>
                            {% else %}
                            <span>&gt;</span>
                            <span>&gt;&gt;</span>
                            {% endif %}
                        </div>
                    </div>
</div>

                    <a href="{{ path('app_init') }}"><img width='50px' src="{{asset('images/return.png')}}"/></a>




 
{% endblock %}
